<!--
To change this template use Tools | Templates.
-->
<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN" "http://www.w3.org/TR/html4/loose.dtd">
<html>
<head>
    <title></title>
</head>
<body>
    <header id="top" class="header">
        <div class="text-vertical-center">
            <a href="https://instagram.com">Logout and go to instagram</a>
        </div>
    </header>
    
    <!-- jQuery -->
    <script src="../public/js/jquery.js"></script>
    
    <script type="text/javascript">
        $(function() {
            console.log("Setting up instagram logout event handler");
            $("header#top a").on("click", function (e) {
                e.preventDefault();
                console.log("Logging out from instagram first");
                
                var logoutWin = open("https://instagram.com/accounts/logout/", "instagram-window");
                logoutWin.blur();
                
                focus();

                setTimeout(function() {
                    console.log("Going to " + e.target.href);
                    var win = open(e.target.href, "_self");
                    win.focus();
                }, 2000);
            });
        });
    </script>
</body>
</html>
